html {
    margin: 40px;
    padding: 0px;
    background-image: url(Sno.jpg);
    background-position: center;
    background-repeat: repeat;
}

body { 
    margin: 0px;
    padding: 0px;
    background-image: url(Sno.jpg);
    background-position: center;
}

.box {
    background-color: azure;
    text-align: center;
    border-radius: 10px;
}


.Textarea {
    height: 75px;
    width: auto;
    border-radius: 10px;
    text-align: center;
    /*border: 8px solid blue; */
}

.Translate-attribution {
    border-radius: 10px;
    width: auto;
    height: 60px;
    font-size: 20px;
}

.submit-box {
    position: absolute;
    top: 190px;
    left: 50;
    background-color: azure;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    transform: translate(10px, 320px);
}

.submit-btn {
    text-decoration: none;
    color: #ee5253;
    float: right;
    width: 40x;
    height: 40px;
    border-radius: 50%;
    background: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-txt {
    border: none;
    background: none;
    outline: none;
    line-height: 40px;
    width: 240px;
}

.navigation {
    height: 55px;
    margin-bottom: 10px;
}

.center {
    padding: 25px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    border-radius: 10px;
    display: block;
    color: teal;
    text-align: center;
    padding:14px 16px;
}

a:link {
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #F1C40F;
}

a:active {
    text-decoration: none;
    color: #F1C40F;
}

.active {
    background-color: darkcyan;
    color: coral
}

.center {
    padding: 25px 0;
}